@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style: none;
}


header {
    padding: 40px;
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    background-color: #0000007e;
    z-index: 2;
}
header .logo{
    height: 100%;
    display: flex;
    align-items: center;
}
header img {
    width: 40px;
    height: 50px;
}
header h1{
    padding-top: 14px;
}

header .nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

header ul {
    display: flex;
    gap: 15px;
}
.image-menu{
    display: none;
}
.dropdown-menu-bg{
background-color: #000;
width: 100px;
}
.dropdown-menu-bg a{
    color: #F3F3F3;
}

header a {
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    opacity: .5;
}
header a:hover{

    opacity: 1;
}




body main {
    left: 35%;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/purple-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body .contact {
    height: 75.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body .contact h1 {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #333333;
    display: flex;
    align-self: flex-start;
}

body .contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body .contact input {
    padding: 0 20px;
    font-size: 20px;
    color: #000;
    width: 620px;
    height: 60px;
}

textarea.fill {
    padding-bottom: 200px;
    width: 620px;
    height: 251px;
}

body .align {
    display: flex;
    flex-direction: column;
}

body .contact select {
    padding: 0 20px;
    font-size: 20px;
    width: 620px;
    height: 60px;
    background-color: #fff;
}

body .contact div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

body form button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 23px;
    background-color: #1CD1B0;
    cursor: pointer;
}

form button:active {
    color: #fff;
    background-color: #000;
    border: 2px solid #1CD1B0;
}

body button.limpar {
    color: #fff;
    background-color: #888;
    cursor: pointer;
}

form button.limpar:active {
    color: #fff;
    background-color: #000;
    border: 2px solid #1CD1B0;
}

body button.limpar {
    color: #fff;
    background-color: #888;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #fff;
    padding: 15px 60px;
    background-color: #000;
}

footer .credits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .name h1 {
    font-size: 18px;
    font-weight: 400;
}

footer .name h2 {
    font-size: 14px;
    font-weight: 400;
}

footer .name img {
    width: 60px;
    padding: 10px;
    border-radius: 50%;
}

footer #igor {
    text-align: end;
}

footer .info h1 {
    text-align: center;
    font-size: 16px;
}



/* Header reponsivo */
@media (max-width: 870px) {
    header ul{
        display: none;
justify-content: center;

    }
    .image-menu{
        display: block;
        padding-bottom: 20px;
    }

    input {
        max-width: 300px;
    }

    .cards h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        padding: 100px 0 10px 0px;
    }

    select {
        max-width: 300px;
    }

    textarea {
        max-width: 300px;
    }

    button.limpar {
        font-size: 18px;
        height: 45px;
        max-width: 150px;
    }

    button.submit {
        font-size: 18px;
        height: 45px;
        max-width: 150px;
    }
 }