@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style: none;
}

header {
    position: sticky;
    top: 0%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #000;
    z-index: 2;
}

header img {
    width: 60px;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 15px;
}

header a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

main {
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/purple-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    height: 75.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.align {
    display: flex;
    flex-direction: column;
}

.login h1 {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #333333;
    display: flex;
    align-self: flex-start;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login input {
    width: 420px;
    height: 60px;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    margin: 5px;
}

.login button {
    width: 250px;
    height: 60px;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 700;
    background-color: #1CD1B0;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}

.login button:hover {
    background-color: #03967b;
    border: 1px solid #000;
}

.login button:active {
    color: #fff;
    background-color: #000;
    border: 2px solid #1CD1B0;
}

form p {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}

form a {
    color: #4cb3fd;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #fff;
    padding: 15px 60px;
    background-color: #000;
}

footer .credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .name h2 {
    font-size: 14px;
    font-weight: 400;
}

footer .name img {
    width: 60px;
    padding: 10px;
    border-radius: 50%;
}

footer #igor {
    text-align: center;
}

footer #giovanna {
    text-align: end;
}

footer .info {
    display: flex;
    justify-content: center;
}

/* Header reponsivo */
@media (max-width: 600px) {
    header {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
    }

    header ul {
        margin: 0;
    }

    .align h1{
        font-size: 48px;
        padding-left: 13px;
    }

    input {
        max-width: 300px;
    }
}